# Default owners are TOC, release leads and Eventing writers
* @knative-sandbox/eventing-gitlab-approvers @knative-sandbox/eventing-writers @knative-sandbox/knative-release-leads @knative-sandbox/technical-oversight-committee
